---
layout: default
tags: research
---

{% assign activeresearch_count = site.activeresearch | size %}
{% assign previousresearch_count = site.previousresearch | size %}

<h1>My Research!</h1>
<p> 
I conduct various types of research. Feel free to investigate both
active projects and previous work of mine!
</p>

<div class="home">

  <h1>Active Projects</h1>
  {% if activeresearch_count > 0 %}
  <div class="activeresearch">
    {% for activeresearch in site.activeresearch %}
      <h2>
        <a href="{{ activeresearch.url }}">
          {{ activeresearch.title }}
        </a>
      </h2>
    {% endfor %}
  </div>
   {% endif %} {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}

  <h1>Retired Projects</h1>
  {% if previousresearch_count > 0 %}
  <div class="previousresearch">
    {% for previousresearch in site.previousresearch %}
      <h2>
        <a href="{{ previousresearch.url }}">
          {{ previousresearch.title }}
        </a>
      </h2>
    {% endfor %}
  </div>
  {% include pagination.html %} {% if site.show_subscribe_cta %} {% include
  subscribe.html %} {% endif %} {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
