---
layout: default
tags: research
---

{% assign activeresearch_count = site.activeresearch | size %}
{% assign previousresearch_count = site.previousresearch | size %}


<div class="home">
  <article class="post-content">
    {{ content }}
  </article>
    
  <h1>Active Projects</h1>
  {% if activeresearch_count > 0 %}
  <div class="activeresearch">
    {% for activeresearch in site.activeresearch %}
      <h2>
        <a href="{{ activeresearch.url }}">
          {{ activeresearch.title }}
        </a>
      </h2>
      <p>
        {{ activeresearch.summary }}
      </p>
    {% endfor %}
  </div>
  {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}

  <h1>Retired Projects</h1>
  {% if previousresearch_count > 0 %}
  <div class="previousresearch">
    {% for previousresearch in site.previousresearch %}
      <h2>
        <a href="{{ previousresearch.url }}">
          {{ previousresearch.title }}
        </a>
      </h2>
      <p>
        {{ previousresearch.summary }}
      </p>
    {% endfor %}
  </div>
  {% include pagination.html %} {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
